db/*
.classpath
.idea/*
.project
.settings/*
Golfer-grailsPlugins.iml
Golfer.iml
lib/xerial-sqlite-license.txt
target/stacktrace.log
out/production/*
out/test/*
target/.DS_Store
target/classes/*
target/test-classes/*
target/test-reports/*
web-app/selenium/*
chromedriver.log
*.class
target/test-reports/*
stacktrace.log