db/development.sqlite3
db/deveopment.sqlite3
db/development.sqlite3
db/deveopment.sqlite3
db/test.sqlite3
.classpath
.idea/.name
.idea/ant.xml
.idea/compiler.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.project
.settings/org.codehaus.groovy.eclipse.preferences.prefs
Golfer-grailsPlugins.iml
Golfer.iml
lib/xerial-sqlite-license.txt
target/stacktrace.log
out/production/*
out/test/*
target/.DS_Store
target/classes/*
target/test-classes/*
target/test-reports/*
web-app/selenium/*
chromedriver.log
*.class
target/test-reports/*
stacktrace.log